:root {
	font-family: 'Inter Variable', 'Inter', system-ui, sans-serif;

	/* Font families */
	--font-sans: 'Inter Variable', 'Inter', system-ui, sans-serif;
	--font-mono: 'JetBrains Mono', monospace;

	/* Colors */
	--sage-50: #f1f8f5;
	--sage-100: #dcefe5;
	--sage-200: #bcdecd;
	--sage-300: #90c5af;
	--sage-400: #61a68c;
	--sage-500: #3a7e66;
	--sage-600: #2e6d59;
	--sage-700: #255748;
	--sage-800: #1f463a;
	--sage-900: #1a3a30;
	--sage-950: #0e201c;

	--dune-50: #f6f4f0;
	--dune-100: #e9e3d8;
	--dune-200: #d6c7b2;
	--dune-300: #bea686;
	--dune-400: #aa8965;
	--dune-500: #9a7756;
	--dune-600: #856249;
	--dune-700: #6b4c3d;
	--dune-800: #5c4137;
	--dune-900: #503933;
	--dune-950: #2d1e1b;

	--sierra-50: #f7ebdd;
	--sierra-100: #eed3ba;
	--sierra-200: #e2b58f;
	--sierra-300: #d69061;
	--sierra-400: #cd7442;
	--sierra-500: #bf5f37;
	--sierra-600: #9f4b2f;
	--sierra-700: #803d2c;
	--sierra-800: #673427;
	--sierra-900: #371913;
	--sierra-950: #1c0c09;

	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;

	--color-constant-white: #ffffff;
	--color-constant-black: #000000;

	/* Typography */
	--font-size-1: 0.75rem; /* 12px */
	--font-size-2: 0.8125rem; /* 13px */
	--font-size-3: 0.875rem; /* 14px */
	--font-size-4: 1rem; /* 16px */
	--font-size-5: 1.125rem; /* 18px */
	--font-size-6: 1.25rem; /* 20px */
	--font-size-7: 1.5rem; /* 24px */
	--font-size-8: 2rem; /* 32px */

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--line-height-tight: 1.25;
	--line-height-normal: 1.5;
	--line-height-relaxed: 1.75;

	/* Spacing */
	--space-1: 0.25rem; /* 4px */
	--space-2: 0.5rem; /* 8px */
	--space-3: 0.75rem; /* 12px */
	--space-4: 1rem; /* 16px */
	--space-6: 1.5rem; /* 24px */
	--space-8: 2rem; /* 32px */
	--space-12: 3rem; /* 48px */

	/* Layout */
	--max-width: 1280px;
	--app-layout-padding-x: 4em;
	--app-layout-padding-y: var(--space-12);
	--mobile-nav-height: 4rem;
	--navbar-height: 5em;

	/* Icons */
	--icon-match: 1em; /* match text */
	--icon-sm: 1.25rem; /* 20px */
	--icon-md: 1.5rem; /* 24px */
	--icon-lg: 2rem; /* 32px */

	/* Border radius */
	--radius: 0.25rem; /* 4px */
	--radius-lg: 0.5rem; /* 8px  */
	--radius-circle: 50%; /* circular */

	/* Box shadow */
	--shadow-classic: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.1),
		0 1px 3px 0 rgba(0, 0, 0, 0.1);
	--shadow-spread: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
	--shadow-paper: 0px 8px 0px -6px rgba(0, 0, 0, 0.1);

	/* Z-Index */
	--z-base: 0;
	--z-dropdown: 100;
	--z-modal: 1000;
	--z-toast: 1100;

	/* Transitions */
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--transition-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);

	/* Effects */
	--color-overlay: rgba(0, 0, 0, 0.5);

	--opacity-60: 0.6;
	--opacity-80: 0.8;

	--brightness-dark-2: brightness(80%);
	--brightness-dark-1: brightness(95%);
	--brightness-light-1: brightness(105%);
	--brightness-light-2: brightness(120%);

	--color-border-focus: var(--sage-500);
}
