button {
	padding: var(--space-xs) var(--space-sm);
	border-radius: 4px;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
	background-color: var(--primary-500);
	color: white;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: var(--primary-600);
}

/* Outline Button Variant */
.button--outline {
	background-color: transparent;
	color: var(--primary-500);
	border: 2px solid var(--primary-500);
}

/* Outline Button Hover */
.button--outline:hover {
	background-color: var(--primary-200);
}
