---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="404 - Page Not Found">
    <h1>You went off trail!</h1>
    <p>The page you were looking for wasn't found.</p>
</MainLayout>