---
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout title="404 - Page Not Found">
	<main>
		<section id="hero">
			<h1>404</h1>
			<h1>You went off trail!</h1>
			<p>The page you were looking for wasn't found.</p>
			<button><a href="/">Back Home</a></button>
		</section>
	</main>
</MainLayout>

<style>
	main {
		height: 80%;
	}

	#hero {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 80%;
	}
</style>
