---
import MainLayout from '../layouts/main-layout.astro';
---

<MainLayout title="404 - Page Not Found">
	<section id="fourohfour-hero" class="bg-primary h-screen flex items-center justify-center">
		<div class="message-box flex items-center justify-center flex-col text-center p-8 text-primary">
			<h1>404</h1>
			<h2>You went off trail!</h2>
			<p>The page you were looking for wasn't found.</p>
			<a href="/" aria-label="Return to home page" role="button">Back Home</a>
		</div>
	</section>
</MainLayout>

<style>
	#fourohfour-hero h1 {
		font-size: 5rem;
		margin: 0;
	}

	#fourohfour-hero .message-box {
		max-width: 600px;
	}
</style>
