<footer class="h-fit bg-primary-800 p-8 text-white space-y-4 text-center">
	<div>
		<p class="font-bold mb-2 text-xl">tidytrek</p>
		<p class="font-mono text-xs">made in durango, colorado</p>
	</div>
</footer>
