<footer>
	<div>
		<!-- <p>tidytrek</p>
		<p>made in durango, colorado</p> -->
	</div>
</footer>

<style>
	footer {
		background-color: var(--primary-900);
		border: 0px;
		margin: 0px;
		height: 10vh;
	}
</style>
