<nav>
	<h2>
		<a href="/"> tidytrek</a>
	</h2>
	<div class="auth-button-container">
		<button class="button--outline"><a href="https://tidytrek.co/login" rel="noopener noreferrer">Login</a></button>
		<button class="button--outline">
			<a href="https://tidytrek.co/register" rel="noopener noreferrer">Sign Up</a></button
		>
	</div>
</nav>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 5rem;
		background: var(--primary-100);
	}

	.auth-button-container {
		button {
			margin: 0px 25px;
		}
	}
</style>
