<nav class="bg-[#1d8471] h-24 flex items-center p-12">
	<h1 class="text-white font-semibold text-2xl">
		<a href="/"> tidytrek</a>
	</h1>
	<div class="ml-auto space-x-12">
		<button class="text-white rounded"><a href="https://tidytrek.co/login" rel="noopener noreferrer">Login</a></button>
		<button class="text-white rounded border-2 px-2 py-1">
			<a href="https://tidytrek.co/register" rel="noopener noreferrer">Sign Up</a></button
		>
	</div>
</nav>
